input.DUXInput__duxInput___1Fg3t {
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 0;
    color: #000
}

.DUXInput__duxInput___1Fg3t:focus {
    outline: 0
}

.DUXInput__group___3CrvK {
    position: relative;
    margin-bottom: 35px
}

.DUXInput__hasError___c4H2z {
    border-bottom-color: #eb5815
}

.DUXInput__hasError___c4H2z .DUXInput__label___1VKFG {
    color: #eb5815
}

.DUXInput__hasError___c4H2z .DUXInput__bar___cHIRi:after,.DUXInput__hasError___c4H2z .DUXInput__bar___cHIRi:before {
    background: #eb5815
}

.DUXInput__label___1VKFG {
    color: #556473;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    top: -20px;
    transition: .2s ease all
}

.DUXInput__bar___cHIRi {
    position: relative;
    display: block
}

.DUXInput__bar___cHIRi:after,.DUXInput__bar___cHIRi:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #22b8eb;
    transition: .2s ease all
}

.DUXInput__bar___cHIRi:before {
    left: 50%
}

.DUXInput__bar___cHIRi:after {
    right: 50%
}

.DUXInput__highlight___e97x2 {
    position: absolute;
    height: 60%;
    width: 75pt;
    top: 25%;
    left: 0;
    pointer-events: none;
    transition: .2s ease all;
    opacity: .5
}

.DUXInput__duxInput___1Fg3t:focus~.DUXInput__bar___cHIRi:after,.DUXInput__duxInput___1Fg3t:focus~.DUXInput__bar___cHIRi:before {
    width: 50%
}

.DUXInput__duxInput___1Fg3t:focus~.DUXInput__highlight___e97x2 {
    -webkit-animation: DUXInput__a___1hpv7 .3s ease
}

@-webkit-keyframes DUXInput__a___1hpv7 {
    0% {
        background: #22b8eb
    }

    to {
        width: 0;
        background: transparent
    }
}

input.DUXInput-b__duxInput___3G4ox {
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 0;
    color: #fff
}

.DUXInput-b__duxInput___3G4ox:focus {
    outline: 0
}

.DUXInput-b__group___2sm4O {
    position: relative;
    margin-bottom: 35px
}

.DUXInput-b__hasError___54_QK {
    border-bottom-color: #eb5815
}

.DUXInput-b__hasError___54_QK .DUXInput-b__label___1g-A_ {
    color: #eb5815
}

.DUXInput-b__hasError___54_QK .DUXInput-b__bar___2Mmoq:after,.DUXInput-b__hasError___54_QK .DUXInput-b__bar___2Mmoq:before {
    background: #eb5815
}

.DUXInput-b__label___1g-A_ {
    color: #c4cdda;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    top: -20px;
    transition: .2s ease all
}

.DUXInput-b__bar___2Mmoq {
    position: relative;
    display: block
}

.DUXInput-b__bar___2Mmoq:after,.DUXInput-b__bar___2Mmoq:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #22b8eb;
    transition: .2s ease all
}

.DUXInput-b__bar___2Mmoq:before {
    left: 50%
}

.DUXInput-b__bar___2Mmoq:after {
    right: 50%
}

.DUXInput-b__highlight___IXIGO {
    position: absolute;
    height: 60%;
    width: 75pt;
    top: 25%;
    left: 0;
    pointer-events: none;
    transition: .2s ease all;
    opacity: .5
}

.DUXInput-b__duxInput___3G4ox:focus~.DUXInput-b__bar___2Mmoq:after,.DUXInput-b__duxInput___3G4ox:focus~.DUXInput-b__bar___2Mmoq:before {
    width: 50%
}

.DUXInput-b__duxInput___3G4ox:focus~.DUXInput-b__highlight___IXIGO {
    -webkit-animation: DUXInput-b__a___2hdzK .3s ease
}

@-webkit-keyframes DUXInput-b__a___2hdzK {
    0% {
        background: #22b8eb
    }

    to {
        width: 0;
        background: transparent
    }
}

.PageHeader__pageHeader___cP2CN {
    background-color: #fff;
    padding: 24px 0 17px;
    padding: 1.5rem 0 1.1rem
}

.PageHeader__pageHeader___cP2CN h1,.PageHeader__pageHeader___cP2CN h2,.PageHeader__pageHeader___cP2CN h3,.PageHeader__pageHeader___cP2CN h4,.PageHeader__pageHeader___cP2CN h5,.PageHeader__pageHeader___cP2CN h6 {
    font-weight: 300;
    color: #147698
}

.PageHeader__pageHeader___cP2CN .button,.PageHeader__pageHeader___cP2CN a.button {
    border-radius: 3px;
    margin: 0
}

.Module__base___1VHCF {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px
}

.Module__base___1VHCF.Module__primary___23bX1 {
    border: 1px solid #22b8eb
}

.Module__base___1VHCF.Module__secondary___1tEQm {
    border: 1px solid #e7e7e7
}

.Module__base___1VHCF.Module__success___1PmkB {
    border: 1px solid #86d800
}

.Module__base___1VHCF.Module__warning___wR3-l {
    border: 1px solid #ff992e
}

.Module__base___1VHCF.Module__alert___Suvyj {
    border: 1px solid #eb5815
}

.Module__base___1VHCF.Module__info___1NUFU {
    border: 1px solid #a0d3e8
}

.Module__module___3owJO {
    padding: 1pc 2pc;
    padding: 1rem 2rem;
    margin: 1pc 0;
    margin: 1rem 0
}

.Module__colModule___2Aluv h1,.Module__colModule___2Aluv h2,.Module__colModule___2Aluv h3,.Module__colModule___2Aluv h4,.Module__colModule___2Aluv h5,.Module__colModule___2Aluv h6 {
    font-weight: 300
}

.Markdown__markdown___12RzF h1 {
    font-size: 24px;
    font-weight: 300;
    color: lighten(gray, 15%)
}

.Markdown__markdown___12RzF .hljs,.Markdown__markdown___12RzF pre code[class*=lang-] {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #eaeef3;
    -webkit-text-size-adjust: none
}

.Markdown__markdown___12RzF .hljs,.Markdown__markdown___12RzF .hljs-list .hljs-built_in {
    color: #00193a
}

.Markdown__markdown___12RzF .hljs-doctag,.Markdown__markdown___12RzF .hljs-header,.Markdown__markdown___12RzF .hljs-important,.Markdown__markdown___12RzF .hljs-keyword,.Markdown__markdown___12RzF .hljs-request,.Markdown__markdown___12RzF .hljs-title {
    font-weight: 700
}

.Markdown__markdown___12RzF .hljs-chunk,.Markdown__markdown___12RzF .hljs-comment {
    color: #738191
}

.Markdown__markdown___12RzF .hljs-addition,.Markdown__markdown___12RzF .hljs-argument,.Markdown__markdown___12RzF .hljs-blockquote,.Markdown__markdown___12RzF .hljs-built_in,.Markdown__markdown___12RzF .hljs-filename,.Markdown__markdown___12RzF .hljs-header,.Markdown__markdown___12RzF .hljs-link_label,.Markdown__markdown___12RzF .hljs-literal,.Markdown__markdown___12RzF .hljs-name,.Markdown__markdown___12RzF .hljs-parent,.Markdown__markdown___12RzF .hljs-string,.Markdown__markdown___12RzF .hljs-tag,.Markdown__markdown___12RzF .hljs-title,.Markdown__markdown___12RzF .hljs-value {
    color: #0048ab
}

.Markdown__markdown___12RzF .hljs-attr_selector,.Markdown__markdown___12RzF .hljs-attribute,.Markdown__markdown___12RzF .hljs-bullet,.Markdown__markdown___12RzF .hljs-decorator,.Markdown__markdown___12RzF .hljs-deletion,.Markdown__markdown___12RzF .hljs-doctype,.Markdown__markdown___12RzF .hljs-link_url,.Markdown__markdown___12RzF .hljs-phony,.Markdown__markdown___12RzF .hljs-pi,.Markdown__markdown___12RzF .hljs-pragma,.Markdown__markdown___12RzF .hljs-preprocessor,.Markdown__markdown___12RzF .hljs-prompt,.Markdown__markdown___12RzF .hljs-regexp,.Markdown__markdown___12RzF .hljs-shebang,.Markdown__markdown___12RzF .hljs-sqbracket,.Markdown__markdown___12RzF .hljs-string .hljs-variable,.Markdown__markdown___12RzF .hljs-subst,.Markdown__markdown___12RzF .hljs-symbol,.Markdown__markdown___12RzF .hljs-xmlDocTag {
    color: #4c81c9
}

.RouteNotFound404Page__wrap___3GOLs {
    background: #22354c;
    height: 100%;
    text-align: center
}

.RouteNotFound404Page__messageModule___3rTB_ {
    -webkit-animation: RouteNotFound404Page__a___2hEve .3s;
    animation: RouteNotFound404Page__a___2hEve .3s;
    padding: 24px 0 0;
    padding: 1.5rem 0 0;
    margin: 4pc 0;
    margin: 4rem 0;
    width: 50pc
}

@-webkit-keyframes RouteNotFound404Page__a___2hEve {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes RouteNotFound404Page__a___2hEve {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.RouteNotFound404Page__heading___297Pn {
    color: #71859d;
    font-size: 6pc;
    font-size: 6rem;
    font-weight: 400
}

.RouteNotFound404Page__subheading___31h66 {
    color: #cbd5df;
    font-weight: 400
}

.RouteNotFound404Page__message___2yaK3 {
    color: #71859d;
    margin: 0 auto;
    padding: 8px;
    padding: .5rem;
    font-size: 17px;
    font-size: 1.1rem
}

.BillingInfoForm__marginBottom___3zu9D {
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}

.BillingInfoForm__billingDropdown___VpNi- {
    width: 100%;
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}

.BillingInfoForm__error___1NcYw {
    border: 1px solid #eb5815
}

.BillingInfoForm__billingFormSection___2ME1a {
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}

.BillingInfoForm__dateText___bYphH {
    text-align: center;
    height: 2pc;
    height: 2rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2pc;
    margin-bottom: 2rem
}

.UpdateBillingInfo__body___3hFaG {
    margin-top: 24px;
    margin-top: 1.5rem
}

.UpdateBillingInfo__subtitle___2XVo4 {
    color: #86d800;
    margin-bottom: 8px;
    margin-bottom: .5rem
}

.UpdateBillingInfo__errorMessage___CAckN {
    color: #eb5815;
    padding: 0 24px;
    padding: 0 1.5rem
}

.ChangePassSuccess__passwordReset___2g4N2 {
    margin-top: 5pc;
    margin-top: 5rem;
    border: 1px solid #e9edf0;
    border-radius: 3px;
    min-height: 270px
}

.CreateBillingSubscription__select___12qoH {
    width: 5pc;
    width: 5rem
}

.CreateBillingSubscription__error___23qB9 {
    color: #eb5815
}

.CreateBillingSubscription__title___3AlvZ {
    font-weight: 700;
    margin-top: 24px;
    margin-top: 1.5rem
}

.CreateBillingSubscription__subtitle___1Ze1M {
    color: #86d800;
    margin-bottom: 8px;
    margin-bottom: .5rem
}

.CreateBillingSubscription__preview___29BEL {
    padding: 2pc 2pc 0;
    padding: 2rem 2rem 0;
    margin-left: 1pc;
    margin-left: 1rem
}

.CreateBillingSubscription__total___3JaKB {
    margin-bottom: 35px
}

.CreateBillingSubscription__couponCode___Ihq_S {
    margin-top: 2pc;
    margin-top: 2rem
}

.CreateBillingSubscription__price___twz6H {
    text-align: right
}

.CreateBillingSubscription__errorMessage___2KJL8 {
    color: #eb5815;
    padding: 0 24px;
    padding: 0 1.5rem
}

.ConvertToOrg__body___1E8ZT {
    margin-top: 1pc;
    margin-top: 1rem
}

.ConvertToOrg__toOrgContent___3xyrF {
    margin-bottom: 1pc;
    margin-bottom: 1rem
}

.ConvertToOrg__warning___3jGpM {
    color: #eb5815
}

.ConvertToOrg__center___3Ikq2 {
    text-align: center;
    margin-bottom: 1pc;
    margin-bottom: 1rem
}

.ConvertToOrg__form___1ioBM {
    padding-top: 1pc;
    padding-top: 1rem
}

.ConvertToOrg__form___1ioBM div {
    margin-bottom: 0
}

.RepositoryListItem__repositoryListItem___1yf7Y {
    background: #fff;
    border: 1px solid #c4cdda;
    border-radius: 3px;
    color: #3f5167;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    margin: 1pc 0;
    margin: 1rem 0;
    font-weight: 500
}

.RepositoryListItem__repositoryListItem___1yf7Y:hover {
    border-color: #22b8eb
}

.RepositoryListItem__repositoryListItem___1yf7Y:hover .RepositoryListItem__action___2pC7_ {
    background-color: #22b8eb;
    color: #fff;
    border-color: #22b8eb
}

.RepositoryListItem__repoName___3iIWs {
    color: #22b8eb
}

.RepositoryListItem__avatar___1ncKk {
    width: 50px;
    height: 50px;
    border-radius: 3px
}

.RepositoryListItem__officialAvatar___3dNBs {
    background: #22b8eb
}

.RepositoryListItem__section___1JTBM {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-left: 1px solid #c4cdda;
    padding: 1pc 1pc 8px;
    padding: 1rem 1rem .5rem
}

.RepositoryListItem__head___dZ_yG {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row
}

.RepositoryListItem__head___dZ_yG:first-child {
    border-left: 0
}

.RepositoryListItem__stats___3GILF {
    min-width: 75pt;
    text-align: center;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row
}

.RepositoryListItem__action___2pC7_ {
    background-color: #c4cdda;
    color: #7a8491;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column
}

.RepositoryListItem__action___2pC7_ i {
    position: relative;
    top: 8px;
    top: .5rem;
    left: 19px;
    left: 1.2rem
}

.RepositoryListItem__text___3uXB1 {
    margin-top: 19px;
    margin-top: 1.2rem;
    margin-left: 6px;
    margin-left: .4rem;
    font-size: 11px;
    font-size: .7rem
}

.RepositoryListItem__labelValue___M5Lno {
    padding-top: 4px;
    padding-top: .25rem;
    margin: 0 auto
}

.RepositoryListItem__value___19_0_ {
    margin: 0 50;
    color: #7a8491
}

.RepositoryListItem__subLabel___2edRv {
    color: #7a8491;
    margin:0 50;
}

.RepositoryListItem__title___36RJM {
    padding-left: 1pc;
    padding-left: 1rem;
    padding-right: 1pc;
    padding-right: 1rem
}

.RepositoryListItem__labels___3MsH0 {
    color: #7a8491
}

.RepositoryListItem__public___2AYhi {
    color: #216880
}

.RepositoryListItem__automated___168w1,.RepositoryListItem__private___3TNlN {
    color: #7a8491
}

.RepositoryListItem__flexible___9wm16 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.BlankSlate__blankSlates___18tcz {
    background: #fff;
    padding: 40px;
    padding: 2.5rem
}

.BlankSlate__blankSlates___18tcz h1 {
    color: #147698;
    font-size: 2pc;
    font-size: 2rem;
    font-weight: 300
}

.BlankSlate__link___FPvTf {
    background: transparent;
    border-radius: 3px;
    border: 1px solid #efefef;
    color: #7a8491;
    margin: 0 4px 4px 0;
    margin: 0 .3rem .3rem 0;
    padding: 28px;
    padding: 1.8rem
}

.BlankSlate__link___FPvTf i {
    font-size: 2.5em;
    margin-bottom: 1pc;
    margin-bottom: 1rem
}

.BlankSlate__link___FPvTf:hover {
    background: #f4f9fc;
    color: #7a8491
}

.PrivateRepoStatusBlock__labelText___2VAkM {
    font-size: 13px;
    font-size: .8125rem;
    font-weight: 400;
    margin-top: 14px;
    margin-top: .9rem;
    text-align: right
}

.PrivateRepoStatusBlock__prLabel___Qk33C {
    color: #7a8491;
    margin-right: 6px;
    margin-right: .4rem
}

.Teams__teamItem___3hMZ9 .active {
    background: #e6edf4
}

.Teams__marginTop___UCWaw {
    margin-top: 1pc;
    margin-top: 1rem
}

.Teams__formHeading___3tyML {
    margin-bottom: 3pc;
    margin-bottom: 3rem
}

.Teams__arrowSelect___2oy2r {
    margin-top: 4px;
    margin-top: .3rem
}

.Members__removeButton___3lZcF {
    padding: 5px;
    background-color: #eb5815;
    border-radius: 3px;
    color: #fff
}

.Members__addMemberInput___Yi6xZ {
    background-color: #fff;
    height: 36px
}

.ListSelector__header___Nks_p {
    font-weight: 400;
    padding: 8px;
    padding: .5rem;
    margin: 0;
    background-color: #efefef;
    border: 1px solid #c4cdda;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.ListSelector__listSelectorItems___3PZrl {
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #c4cdda;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.ListSelector__listSelectorItems___3PZrl li {
    padding: 8px;
    padding: .5rem;
    border-bottom: 1px solid #c4cdda
}

.ListSelector__listSelectorItems___3PZrl li:hover {
    background-color: #efefef;
    cursor: pointer
}

.TeamProfile__addTeamButtonGroup___14DZi input[type=submit] {
    border-radius: 3px
}

.TeamProfile__addTeamButtonGroup___14DZi input[type=reset] {
    border-radius: 3px;
    margin-left: 1pc;
    margin-left: 1rem
}

.Dockerfile__dockerfile___1w-G- {
    overflow-x: auto
}

.Code__code___HAhi9 {
    font-family: Consolas,Liberation Mono,Courier,monospace
}

.Code__code___HAhi9 .hljs,.Code__code___HAhi9 pre code[class*=lang-] {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #eaeef3;
    -webkit-text-size-adjust: none;
    white-space: pre
}

.Code__code___HAhi9 .hljs,.Code__code___HAhi9 .hljs-list .hljs-built_in {
    color: #00193a
}

.Code__code___HAhi9 .hljs-doctag,.Code__code___HAhi9 .hljs-header,.Code__code___HAhi9 .hljs-important,.Code__code___HAhi9 .hljs-keyword,.Code__code___HAhi9 .hljs-request,.Code__code___HAhi9 .hljs-title {
    font-weight: 700
}

.Code__code___HAhi9 .hljs-chunk,.Code__code___HAhi9 .hljs-comment {
    color: #738191
}

.Code__code___HAhi9 .hljs-addition,.Code__code___HAhi9 .hljs-argument,.Code__code___HAhi9 .hljs-blockquote,.Code__code___HAhi9 .hljs-built_in,.Code__code___HAhi9 .hljs-filename,.Code__code___HAhi9 .hljs-header,.Code__code___HAhi9 .hljs-link_label,.Code__code___HAhi9 .hljs-literal,.Code__code___HAhi9 .hljs-name,.Code__code___HAhi9 .hljs-parent,.Code__code___HAhi9 .hljs-string,.Code__code___HAhi9 .hljs-tag,.Code__code___HAhi9 .hljs-title,.Code__code___HAhi9 .hljs-value {
    color: #0048ab
}

.Code__code___HAhi9 .hljs-attr_selector,.Code__code___HAhi9 .hljs-attribute,.Code__code___HAhi9 .hljs-bullet,.Code__code___HAhi9 .hljs-decorator,.Code__code___HAhi9 .hljs-deletion,.Code__code___HAhi9 .hljs-doctype,.Code__code___HAhi9 .hljs-link_url,.Code__code___HAhi9 .hljs-phony,.Code__code___HAhi9 .hljs-pi,.Code__code___HAhi9 .hljs-pragma,.Code__code___HAhi9 .hljs-preprocessor,.Code__code___HAhi9 .hljs-prompt,.Code__code___HAhi9 .hljs-regexp,.Code__code___HAhi9 .hljs-shebang,.Code__code___HAhi9 .hljs-sqbracket,.Code__code___HAhi9 .hljs-string .hljs-variable,.Code__code___HAhi9 .hljs-subst,.Code__code___HAhi9 .hljs-symbol,.Code__code___HAhi9 .hljs-xmlDocTag {
    color: #4c81c9
}

.Enterprise__enterprise___22eIX {
    text-align: center
}

.Enterprise__feature___2IYQf {
    background: #22354c;
    background: #2b3d54;
    padding: 5pc;
    padding: 5rem
}

.Enterprise__feature___2IYQf h1 {
    color: #fff;
    font-size: 40px;
    font-size: 2.5rem
}

.Enterprise__feature___2IYQf p {
    color: #c4cdda
}

.Enterprise__section___23zjg {
    background: #fff;
    padding: 2pc;
    padding: 2rem
}

.Enterprise__section___23zjg:nth-of-type(3) {
    background: transparent
}

.Enterprise__section___23zjg ul {
    list-style-type: none
}

.Enterprise__section___23zjg li {
    border-bottom: 1px solid #efefef;
    padding: 20px;
    padding: 1.3rem
}

.Enterprise__section___23zjg li:last-of-type {
    border: none
}

.LoginForm__forgotPass___wrCog {
    font-size: 14px;
    font-size: .9rem;
    padding: 0 24px;
    padding: 0 1.5rem
}

.EnterpriseTrial__softwareAgreement___blV8E {
    border-top: 1px solid #efefef;
    max-height: 200px;
    overflow-y: scroll;
    padding-top: 3px;
    padding-top: .2rem;
    white-space: pre;
    word-wrap: break-word
}

.EnterpriseTrial__formPadding___Rensg {
    padding: 1pc 11px;
    padding: 1rem .7rem
}

.EnterprisePaid__softwareAgreement___1TfxF {
    border-top: 1px solid #efefef;
    max-height: 200px;
    overflow-y: scroll;
    padding-top: 3px;
    padding-top: .2rem;
    white-space: pre;
    word-wrap: break-word
}

.EnterprisePaid__pricingPanel___3B-Iy {
    text-align: center
}

.EnterprisePaid__price___2anmL {
    color: #000
}

.EnterprisePaid__formPadding___31avK {
    padding: 1pc 11px;
    padding: 1rem .7rem
}

.ForgotPass__passwordReset___2BqZY {
    margin-top: 5pc;
    margin-top: 5rem;
    border: 1px solid #e9edf0;
    border-radius: 3px;
    min-height: 270px
}

.ForgotPass__error___2A1EM {
    color: #eb5815
}

.Help__helpItem___1k_vz {
    background-color: #f4f9fb;
    border: 1px solid #d6e9f0;
    border-radius: 3px;
    display: block;
    padding: 40px;
    padding: 2.5rem;
    font-size: 17px;
    font-size: 1.1rem;
    text-align: center;
    outline: 0
}

.Licenses__license___15lYt {
    background: #fff;
    border: 1px solid #ccc;
    border-top-right-radius: 3px 0;
    border-top-left-radius: 3px 0;
    padding: 1pc 2pc;
    padding: 1rem 2rem;
    margin: 1pc 0 0;
    margin: 1rem 0 0
}

.Licenses__download___ZA7wF {
    background: #c4cdda;
    color: #3f5167
}

.Licenses__downloadAlert___39flV,.Licenses__download___ZA7wF {
    border-bottom-right-radius: 3px 0;
    border-bottom-left-radius: 3px 0;
    text-align: center;
    padding: 8px;
    padding: .5rem
}

.Licenses__downloadAlert___39flV {
    background: #eb5815;
    color: #c4cdda
}

.Login__loginPage___1Hlyw {
    background: #22354c;
    height: 100%
}

.Login__loginPage___1Hlyw h1 {
    color: #fff;
    font-weight: 200;
    margin-bottom: 40px;
    margin-bottom: 2.5rem
}

.Login__header___11ov1 {
    padding-top: 75pt
}

.FlexTable__flexTable___19B8Q {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #c4cdda;
    border-radius: 3px;
    font-size: 1pc;
    font-size: 1rem;
    margin: 8px 0;
    margin: .5rem 0;
    line-height: 1.5;
    font-weight: 500;
    color: #3f5167
}

.FlexTable__flexRow___3Q4a3 {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #c4cdda;
    background: #fff
}

.FlexTable__flexRow___3Q4a3:last-child {
    border-bottom: 0
}

.FlexTable__flexHeader___3uhn_ {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #c4cdda;
    background-color: #22b8eb;
    font-weight: 700;
    color: #fff;
    font-size: 19px;
    font-size: 1.2rem;
    border-bottom: 0
}

.FlexTable__flexItem___1zkbG {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: .7em 1pc;
    padding: .7em 1rem;
    word-break: break-word
}

.FlexTable__error___2H5mt {
    border: 1px solid #eb5815
}

.FlexTable__success___3V4Bv {
    border: 1px solid #86d800
}

.TriggerButton__triggerText___2ND-Z {
    margin: 8px 1pc;
    margin: .5rem 1rem;
    display: inline-block
}

.RepoPushTrigger__checkText___1D5kO {
    margin-left: 1pc;
    margin-left: 1rem;
    color: #000
}

.RepoPushTrigger__hover___1QeRv input,.RepoPushTrigger__hover___1QeRv:hover {
    cursor: pointer
}

.RepoPushTrigger__table___38vKz div {
    font-size: 1pc;
    font-size: 1rem
}

.RepoPushTrigger__first___y5-NC {
    width: 8pc;
    width: 8rem;
    padding: 20px 20px 0;
    padding: 1.25rem 1.25rem 0
}

.RepoPushTrigger__last___1_qCE {
    width: 5pc;
    width: 5rem;
    padding: 20px 20px 0;
    padding: 1.25rem 1.25rem 0
}

.RepoPushTrigger__buttons___1OAAw button {
    margin-right: 1pc;
    margin-right: 1rem;
    margin-left: 1pc;
    margin-left: 1rem
}

.RepoPushTrigger__tableInput___iWomG {
    width: 100%
}

.RepoPushTrigger__tableInput___iWomG div,.RepoPushTrigger__tableInput___iWomG input,.RepoPushTrigger__tableInput___iWomG label,.RepoPushTrigger__tableInput___iWomG span {
    width: 100%;
    padding: 0;
    margin: 0
}

.LinkAutoTrigger__addLink___2Mxcd {
    padding: 24px 1pc 0;
    padding: 1.5rem 1rem 0
}

.LinkAutoTrigger__autoLinkElement___3JerQ {
    padding: 8px 3pc;
    padding: .5rem 3rem
}

.LinkAutoTrigger__repoName___2d1iy {
    border-left: 1px solid #666;
    font-family: monospace;
    text-align: right;
    overflow: hidden
}

.LinkAutoTrigger__removeLink___1hXrj i {
    color: #eb5815;
    cursor: pointer
}

.LinkAutoTrigger__removeLink___1hXrj i:hover {
    color: #cc4f14
}

.BuildTrigger__inactive___120RU {
    margin: 0 1pc;
    margin: 0 1rem;
    width: 3pc;
    width: 3rem;
    display: inline-block
}

.BuildTrigger__tokenRegen___38Z1j {
    padding: 0;
    margin-top: 4px;
    margin-top: .25rem
}

.BuildTrigger__triggerValue___2_BUe {
    width: 95%;
    cursor: text;
    padding: 8px;
    padding: .5rem
}

.BuildTrigger__triggerStatus___1dGHM {
    margin-top: 2pc;
    margin-top: 2rem
}

.BuildTrigger__triggerTitle___1Poz3 {
    padding-bottom: 8px;
    padding-bottom: .5rem
}

.BuildTrigger__status___1h0hB {
    margin: 8px 0;
    margin: .5rem 0
}

.BuildTrigger__example___1oXP3 {
    overflow-wrap: break-word
}

.BuildTrigger__content___2sycy div,.BuildTrigger__content___2sycy p {
    font-family: monospace
}

.BuildTrigger__logs___2Q5y1 div {
    font-size: 9pt;
    font-size: .75rem
}

.Builds__title___2KJNH {
    margin-top: 1pc;
    margin-top: 1rem;
    font-weight: 400;
    display: inline-block
}

.Builds__source___bAdq1 {
    margin-left: 8px;
    margin-left: .5rem;
    color: #000
}

.Collaborators__table___1mMq_ {
    width: 100%;
    margin: 1pc 0;
    margin: 1rem 0
}

.VisibilityForm__visibility___21jvU {
    margin-top: 1pc;
    margin-top: 1rem
}

.VisibilityForm__toggle___3lFeW {
    cursor: pointer
}

.VisibilityForm__toggle___3lFeW input {
    cursor: pointer;
    margin-right: 5px
}

.VisibilityForm__disabled___2QeeF {
    cursor: default;
    color: #eb5815
}

.VisibilityForm__disabled___2QeeF input {
    cursor: default
}

.VisibilityForm__privateText___1Z2F0 {
    margin-left: 8px;
    margin-left: .5rem
}

.LongDescriptionForm__textArea___1T5Nq,.LongDescriptionForm__textArea___1T5Nq:focus {
    background-color: #fff
}

.LongDescriptionForm__error___2ilhl {
    border: 1px solid #eb5815
}

.LongDescriptionForm__errorText___1GBGy {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    color: #eb5815
}

.LongDescriptionForm__success___2JbJQ {
    border: 1px solid #86d800
}

.ShortDescriptionForm__input___2sqQV {
    padding-top: 2pc;
    padding-top: 2rem
}

.ShortDescriptionForm__textArea___1TnzS,.ShortDescriptionForm__textArea___1TnzS:focus {
    background-color: #fff
}

.ShortDescriptionForm__error___12HS7 {
    border: 1px solid #eb5815
}

.ShortDescriptionForm__success___AMs7c {
    border: 1px solid #86d800
}

.SettingsMain__title___HLN-N {
    margin-top: 1pc;
    margin-top: 1rem;
    font-weight: 400
}

.Card__card___131H1 {
    background: #fff;
    border: 1px solid #e5e5e5;
    border: .0625rem solid #e5e5e5;
    border-radius: .25rem
}

.Card__caps___2kGRN {
    background: #f5f5f5
}

.Card__heading___3VlP- {
    padding: 9pt 20px;
    padding: .75rem 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.Card__header___1WOmY {
    border-bottom: 1px solid #e5e5e5;
    border-bottom: .0625rem solid #e5e5e5;
    border-radius: .25rem .25rem 0 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.Card__footer___324me {
    padding: 9pt 20px;
    padding: .75rem 1.25rem;
    border-top: 1px solid #e5e5e5;
    border-top: .0625rem solid #e5e5e5;
    border-radius: 0 0 .25rem .25rem
}

.Card__action___2CLy8 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    padding: 0 1.25rem;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.Card__action___2CLy8:hover {
    background: #e7e7e7;
    cursor: pointer
}

.Card__block___2z59L {
    padding: 20px;
    padding: 1.25rem
}

.EditPipeline__hooks___2Qeb5 {
    list-style-type: none;
    margin: 0
}

.EditPipeline__postfixOverride___1bf8Q {
    padding: 0
}

.Pipeline__hooks___2Qelh {
    list-style-type: none;
    margin: 0
}

.Pipeline__postfixOverride___Qr_y7 {
    padding: 0
}

@-webkit-keyframes animations__a___Ho1wO {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-2%,0);
        transform: translate3d(0,-2%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes animations__a___Ho1wO {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-2%,0);
        transform: translate3d(0,-2%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.animations__fadeInDown___1rCte {
    -webkit-animation: animations__a___Ho1wO;
    animation: animations__a___Ho1wO;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
    animation-timing-function: cubic-bezier(0.23,1,0.32,1);
    -webkit-animation-duration: .6s;
    animation-duration: .6s
}

.Webhooks__pipelines___2Tliz>* {
    margin-bottom: 20px;
    margin-bottom: 1.25rem
}

.Webhooks__padTop___2USTg {
    padding-top: 20px;
    padding-top: 1.25rem
}

.button.secondary.Webhooks__buttonPush___2bIIa {
    margin-right: 20px;
    margin-right: 1.25rem
}

.secondary-top-bar-section ul li>a.RepoSecondaryNav__danger___cts9O,.secondary-top-bar-section ul li>a.RepoSecondaryNav__danger___cts9O:hover {
    color: #eb5815
}

.RepositoryDetailsWrapper__repoSidebarHeader___Z47CD {
    color: #7a8491;
    font-weight: 500;
    margin: 1pc 0;
    margin: 1rem 0;
    text-transform: uppercase
}

.RepositoryDetailsWrapper__detail___1SECC {
    color: #333;
    margin-top: 1pc;
    margin-top: 1rem;
    font-weight: 500
}

.RepositoryDetailsWrapper__username___2cKJf {
    display: inline-block
}

.RepositoryDetailsWrapper__avatar___14AuI {
    margin-right: 1pc;
    margin-right: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 3px
}

.RepositoryDetailsWrapper__repoDetailsContent___2Bwpx {
    padding: 2pc;
    padding: 2rem
}

.RepositoryDetailsWrapper__pullCommand____wsk2 {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: gray;
    font-family: monospace;
    font-size: 1pc;
    font-size: 1rem;
    padding: 9pt 1pc;
    padding: .75rem 1rem;
    margin: 0;
    width: 25pc;
    transition: border 1s
}

.RepositoryDetailsWrapper__pullCommand____wsk2:focus {
    border: 1px solid #666;
    outline: 0
}

.RepositoryDetailsWrapper__repoShortDescription___XEx-C {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 9pt;
    font-size: .8rem;
    overflow-x: hidden;
    min-height: 3pc;
    min-height: 3rem;
    padding: 9pt 1pc 0;
    padding: .75rem 1rem 0;
    text-overflow: ellipsis;
    word-wrap: break-word
}

.RepositoryDetailsWrapper__button___3JlNI {
    margin-top: 1pc;
    margin-top: 1rem
}

.Comment__closeButton___118A3 {
    color: #fff;
    display: inline-block;
    background: #333;
    border-radius: 100%;
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    text-align: center;
    margin-right: 8px;
    margin-right: .5rem
}

.Comment__commentHead___1-bU0 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 9pt;
    margin-bottom: .75rem
}

.Comment__commentDelete___32AaN {
    cursor: pointer
}

.Comment__commentDelete___32AaN:hover {
    color: #eb5815
}

.Comment__avatar___2Onyn {
    width: 50px;
    height: 50px;
    border-radius: 3px
}

.Comment__name___2sTA9 {
    color: darken(gray, 30%);
    font-weight: 500
}

.Comment__time___2-MD4 {
    font-size: 9pt;
    font-size: .8rem;
    color: lighten(gray, 15%)
}

.Comment__commentInfo___3zZnn {
    margin: 8px 1pc;
    margin: .5rem 1rem
}

.Comments__header___P8_0Y {
    font-weight: 500;
    font-size: 20px;
    font-size: 1.25rem
}

.Comments__addCommentBoxTextArea___JtTvq {
    color: #000;
    background: #fff;
    width: 100%;
    height: 75pt;
    resize: none
}

.Comments__addCommentBoxTextArea___JtTvq:focus {
    background: #fff
}

.Comments__button___uFk9N {
    margin-top: 8px;
    margin-top: .5rem
}

.Comments__closed___rjGgF {
    display: none
}

.RepositoryPageWrapper__repoLabel___3GdLJ {
    text-transform: uppercase;
    font-weight: 500
}

.RepositoryPageWrapper__repoHeader___hlCzn {
    border-bottom: 1px solid #c1c9d1;
    background-color: #fff;
    padding-top: 25px;
    padding-top: 1.6rem;
    padding-bottom: 19px;
    padding-bottom: 1.2rem
}

.RepositoryPageWrapper__repoTitle___18o7m {
    color: #555;
    margin-bottom: 0;
    font-weight: 300
}

.RepositoryPageWrapper__repoSubtitle___2tZMw {
    color: #c4cdda;
    display: block
}

.RepositoryPageWrapper__repoStar___1GpKx {
    cursor: pointer;
    color: #556473;
    margin-left: 1pc;
    margin-left: 1rem;
    font-size: xx-large
}

.ResetPass__passwordReset___21kzt {
    margin-top: 5pc;
    margin-top: 5rem;
    border: 1px solid #e9edf0;
    border-radius: 3px;
    min-height: 270px
}

.ResetPass__error___2oyzq {
    color: #eb5815
}

.UserProfileWrapper__heading___2wqjb {
    padding-left: 1pc;
    padding-left: 1rem
}

.UserProfileWrapper__userinfo___2HvL4 {
    border-top: 1px solid #c4cdda;
    border-bottom: 1px solid #c4cdda;
    padding: 1pc;
    padding: 1rem;
    margin-right: 1pc;
    margin-right: 1rem;
    list-style-type: none
}

.UserProfileWrapper__item___2Ju02 {
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.UserProfileWrapper__gravatar___18RnD {
    border: 1px solid #c4cdda;
    margin: 1pc 0;
    margin: 1rem 0;
    border-radius: 3px
}

.AccountSettings__body___2NmBV {
    margin-top: 24px;
    margin-top: 1.5rem
}

.AccountSettings__margin___1dxo5 {
    margin: 24px;
    margin: 1.5rem
}

.AccountSettings__visibility___KBaMq {
    color: #000
}

.EmailForm__emailCards___1GzOd {
    margin-top: 8px;
    margin-top: .5rem
}

.EmailForm__emailForm___2g2Y5 {
    margin-top: 24px;
    margin-top: 1.5rem
}

.EmailForm__emailElement___36nTk {
    min-height: 4pc;
    min-height: 4rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start
}

.EmailForm__emphasis___1PYOj {
    color: #556473;
    font-weight: 800
}

.EmailForm__faTimes___3P09r {
    color: #eb5815
}

.EmailForm__faTimes___3P09r:hover {
    color: #233137
}

.EmailForm__emailAction___1XijL {
    text-align: center;
    border-radius: 1rem
}

.EmailForm__sent___RGKZE {
    border: 1px solid #86d800;
    color: #86d800
}

.EmailForm__sending___3zY27 {
    border: 1px solid #22b8eb;
    color: #22b8eb
}

.EmailForm__failed___14Oaf {
    border: 1px solid #eb5815;
    color: #eb5815
}

.EmailForm__emailAddress___3MAyS {
    word-wrap: break-word
}

.AccountInfoForm__accountForm___2geSn {
    margin-top: 1pc;
    margin-top: 1rem
}

.AccountInfoForm__accountButtonWrapper___ing7f {
    height: 22pc;
    height: 22rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.AccountInfoForm__accountButton___2iHW_ {
    width: 50%
}

.AccountInfoForm__success___vtfKf {
    border: 1px solid #86d800
}

.AccountInfoForm__formError___3YLcN {
    border: 1px solid #eb5815
}

.ChangePassForm__passForm___1oqlL {
    margin-top: 24px;
    margin-top: 1.5rem
}

.ChangePassForm__changePassSave___2CPyw {
    height: 250px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.Welcome__header___2jYe- {
    background: #22354c;
    color: #eee;
    min-height: 35pc;
    padding-top: 75px;
    margin-bottom: 36px;
    margin-bottom: 2.25rem
}

.Welcome__buildShipRun___1y-Ws {
    margin-top: 5pc;
    margin-top: 5rem
}

.Welcome__subtext___26fnN {
    color: #b9eafa
}

.Welcome__heading___1_Z54 {
    font-weight: 200;
    color: #eee
}

.Welcome__headingHero___1PQ4C {
    font-size: 3pc;
    font-size: 3rem;
    line-height: .8
}

.Welcome__headingHeroAlt___2oyOb {
    color: #86d800
}

.Welcome__lowerHeading___2NsYy {
    text-align: center;
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}

.Welcome__calloutSection___244_Q {
    color: #7b838f;
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}

.Welcome__wellBG___kbuHx {
    background-color: #fff;
    border: 1px solid #c4cdda;
    border-radius: 3px
}

.Welcome__wellPanel___34-et {
    padding: 20px 25px 10px;
    margin-bottom: 8px;
    margin-bottom: .5rem;
    min-height: 135px
}

.Welcome__wellPanelHeader___2oZW7 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
    margin-bottom: .5rem
}

.Welcome__officialReposRow___1hiwl {
    padding: 24px 0 8px;
    padding: 1.5rem 0 .5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}

.Welcome__footer___2vNPB,.Welcome__officialRepoLi___1re3L {
    text-align: center
}

.Welcome__footerCopy___25K2L {
    color: #c1c9d1;
    font-weight: 100;
    margin-top: 5px;
    font-size: 9pt;
    font-size: .8rem
}

.Nav__logo___2UpdK {
    width: 45px;
    height: 45px;
}

.Nav__svgLink___2AokU:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.Nav__avatar___2pFus {
    border-radius: 3px;
    width: 30px;
    height: 30px
}

.Nav__username___22dBK {
    margin-left: 6px;
    margin-left: .4rem
}

input.SearchBar__searchInput___85v1k {
    background: #405165;
    border: 1px solid #4c5968;
    border-radius: 3px;
    color: #fff;
    padding-left: 24px
}

.SearchBar__fa___3bqgA {
    position: relative;
    color: #fff;
    max-width: 1pc;
    max-width: 1rem;
    top: -10px;
    left: 6px
}

.AutoBuildSetupForm__errorText___17qU- {
    white-space: pre
}

.AutoBuildSetupForm__activeToggle___3tfmZ {
    color: #000
}

.AutoBuildSetupForm__input___M7OVs {
    margin-right: 24px;
    margin-right: 1.5rem
}

.Plans__cancel___1Svt7 {
    color: #eb5815
}

.Plans__cancel___1Svt7:hover {
    color: #d95314
}

.BillingInfo__infoContent___eCY6E {
    border-left: 1px solid #ccc;
    padding: 0 3pc;
    padding: 0 3rem;
    margin: 8px 0;
    margin: .5rem 0
}

.BillingPlans__body___2KlAy {
    margin-top: 2pc;
    margin-top: 2rem
}

.BillingPlans__error___3MUmo {
    background: #eb5815;
    color: #fff
}

.BillingPlans__plansQuestion___P9TQR {
    margin-bottom: 2pc;
    margin-bottom: 2rem
}

.BillingPlans__questionTitle___1Oyn- {
    font-weight: 500;
    color: #233137
}

.FilterBar__filterInput___3x1LV input[type=text] {
    background-color: #fff
}

.LinkedAccountSourcesForm__arrowSelect___12Vx_ {
    margin-top: 4px;
    margin-top: .3rem
}

.LinkedServices__body___3ye5f {
    margin-top: 2pc;
    margin-top: 2rem
}

.LinkedServices__icon___38lll {
    width: 75pt;
    height: 75pt
}

.LinkedServices__name___36V82 {
    font-weight: 700;
    margin: 0 24px;
    margin: 0 1.5rem
}

.LinkedServices__access___RvdbA {
    margin: 8px 0;
    margin: .5rem 0;
    text-align: left
}

.LinkedServices__service___3_xx_ {
    color: #7a8491;
    padding: 28px;
    padding: 1.8rem;
    text-align: center;
    transition: border .2s
}

.LinkedServices__service___3_xx_ i {
    font-size: 5pc;
    font-size: 5rem;
    margin-bottom: 1pc;
    margin-bottom: 1rem
}

.LinkedServices__service___3_xx_:hover {
    background: #f4f9fc;
    color: #7a8491;
    cursor: pointer
}

.LinkedServices__service___3_xx_.LinkedServices__link___1I3K2:hover {
    border: 1px solid #86d800
}

.LinkedServices__service___3_xx_.LinkedServices__unlink___2P4yv:hover {
    border: 1px solid #eb5815
}

.EmailNotifForm__button___1LJG8 {
    margin-bottom: -1pc;
    margin-bottom: -1rem
}

.EmailNotifForm__success___3IJtg {
    border: 1px solid #86d800
}

.EmailNotifForm__formError___3CKCe {
    border: 1px solid #eb5815
}

.EmailNotifForm__checkbox___2qMFF {
    padding-top: 8px;
    padding-top: .5rem
}

.EmailNotifForm__notification___Dk01a {
    margin-bottom: 1pc;
    margin-bottom: 1rem
}

.EmailNotifForm__notification___Dk01a:hover {
    cursor: pointer;
    cursor: hand
}

.NotificationsSettings__body___Sj4oe {
    margin-top: 2pc;
    margin-top: 2rem
}

.NotificationsSettings__button___39kDO {
    margin-bottom: -1pc;
    margin-bottom: -1rem
}

.NotificationsSettings__success___2XfWa {
    border: 1px solid #86d800
}

.NotificationsSettings__formError___dQkzH {
    border: 1px solid #eb5815
}

.NotificationsSettings__notification___35yB3 {
    margin-bottom: 1pc;
    margin-bottom: 1rem;
    word-wrap: break-word
}

.NotificationsSettings__notification___35yB3:hover {
    cursor: pointer;
    cursor: hand
}

.NotificationsSettings__unverifiedNotif___2vwq3 {
    margin-bottom: 1pc;
    margin-bottom: 1rem;
    word-wrap: break-word;
    color: #7a8491;
    cursor: default
}

.NotificationsSettings__checkbox___1YHG_ {
    padding-top: 8px;
    padding-top: .5rem
}

.OrganizationProfile__visibility___SHCVX {
    color: #000
}

.OrganizationSummary__orgGridItem___3FFmw {
    text-align: center
}

.OrganizationSummary__orgGridItem___3FFmw:hover {
    cursor: pointer
}

.OrganizationSummary__orgSummary___ZRRmM {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.OrganizationSummary__orgAvatar___hn--2 {
    width: 3pc;
    width: 3rem;
    height: 3pc;
    height: 3rem;
    border-radius: 100%;
    padding: 5px
}

.ResultsNotFound__wrap___23qfp {
    height: 100%;
    text-align: center
}

.ResultsNotFound__messageModule___-u-kY {
    -webkit-animation: ResultsNotFound__a___1v6xK .3s;
    animation: ResultsNotFound__a___1v6xK .3s;
    padding: 24px 0 0;
    padding: 1.5rem 0 0;
    margin: 4pc 0;
    margin: 4rem 0
}

@-webkit-keyframes ResultsNotFound__a___1v6xK {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes ResultsNotFound__a___1v6xK {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.ResultsNotFound__heading___6HIKV {
    color: #71859d;
    font-size: 3pc;
    font-size: 3rem;
    font-weight: 400
}

.ResultsNotFound__subheading___47dkE {
    color: #147698
}

.ResultsNotFound__message___2sGp0 {
    color: #71859d;
    margin: 0 auto;
    padding: 8px;
    padding: .5rem;
    font-size: 17px;
    font-size: 1.1rem
}
